.App {
  text-align: center;
}

.search-bar {
	outline: none;
    height: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
	margin-bottom: 1vh;
    display: flex;
    border: none;
    border-radius: 20px;
}

.pills {
	left: 25vw;
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.not-found {
  border: 1px solid #c8e8fa;
    background-color: #e8f5fc;
    margin-left: 12vw;
    margin-right: 25vw;
    text-align: start;
    padding-left: 5px;
    cursor: pointer;
}